# DB
DB_USERNAME=your_username
DB_PASSWORD=your_password
DB_NAME=your_db_name

SECRETS=YOUR_SECRET_KEY_JWT

# Cassandra
KEYSPACE=your_db_name
# Redis
REDIS_PASSWORD=your_password

# Mail service smtp
GMAIL_USERNAME=YOUR_GMAIL
GMAIL_PASSWORD=YOUR_PASSWORD_APPLICATION

# HostIP machine
HOST_IP=YOUR_HOST_IP
