DB_USERNAME=your_username
DB_PASSWORD=your_password
DB_NAME=your_db_name
SECRETS=YOUR_SECRET_KEY_JWT

KEYSPACE=your_db_name
REDIS_PASSWORD=your_password

GMAIL_USERNAME=YOUR_GMAIL
GMAIL_PASSWORD=YOUR_PASSWORD_APPLICATION