# App Configuration
APP_NAME=Dabble
APP_ENV=development

# API Configuration
API_BASE_URL=http://localhost:3366/api
WS_BASE_URL=http://localhost:3366/ws
IMAGE_BASE_URL=http://localhost:3366/
API_TIMEOUT=30000

# Feature Flags
ENABLE_ANALYTICS=false
ENABLE_CRASH_REPORTING=false

# Service key
GOOGLE_CLIENT_ID=
TURNSTILE_SITE_KEY=
